.navbar {
    background-color: white;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #ede8df;
    color: white;
  }
  
  .navbar i {
    margin-right: 5px;
  }